@font-face {

    font-family: Quicksand;
    src: url(fonts/Quicksand-Light.ttf);
    font-weight: normal;

}

@font-face {

    font-family: Quicksand;
    src: url(fonts/Quicksand-Medium.ttf);
    font-weight: bold;

}

@font-face {

    font-family: Quicksand;
    src: url(fonts/Quicksand-Bold.ttf);
    font-weight: 800;

}

:root {

    --header-foreground-dark: #FFFFFFE6;
    --header-foreground-light: #FFFFFFE6;
    --header-background-dark: #222222CC;
    --header-background-light: #000000CC;
    --header-fontsize-big: 32px;
    --header-fontsize-mid: 24px;
    --header-fontsize-small: 16px;

    --header-current: var(--header-foreground-dark)

}
